@charset "UTF-8";
$red: #FF5000;

$dw: 100%;
$dh: 100%;
$c: #CCCCCC;
@mixin flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin clearFloat {
  content: "";
  display: block;
  visibility: hidden;
  clear: both;
  height: 0;
}

.maninContentRightUserText {
  width: 290px;
  text-align: center;

}

.maninContentRightUserTextBox {
  @include flex;
  width: 290px;
  height: 16px;
  line-height: 16px;
}

.maninContentRightUserTextBoxT1,
.maninContentRightUserTextBoxT2 {

  float: left;
  border-radius: 12px;
  background-color: #ffe4db;

  p {

    width: 16px;
    height: 16px;
    display: inline-block;
    line-height: 16px;

  }

  a {
    font-size: 13px;
    color: $red;
    display: inline-block;
    padding: 0 5px;
    width: 84px;
    height: 16px;
    line-height: 16px;

  }
}

.maninContentRightUserTextBoxT1 {

  margin-right: 10px;

  p {

    background: url("../media/images/TB1eiXTXlTH8KJjy0FiXXcRsXXa-24-595.png") 0 -528px;
  }
}

.maninContentRightUserTextBoxT2 {
  p {
    background: url("../media/images/TB1eiXTXlTH8KJjy0FiXXcRsXXa-24-595.png") 0 -572px;
  }
}

.maninContentRightButton {
  @include flex;
  justify-content: space-between;
  width: 290px;
  height: 40px;

  button {
    border-radius: 5px;
    color: #f4f4f4;
    outline: none;
    border: none;
    width: 92px;
    height: 25px;
    background-image: linear-gradient(to right, #ff5000 0, #ff6f06 100%);
  }
}

.maninContentRightImg {
  width: 290px;
  height: 65px;

  img {
    width: $dw;
    height: $dh;
  }
}

.maninContentRightItem {

  width: 290px;
  height: 77px;

  .maninContentRightItemBox {
    @include flex;
    justify-content: space-evenly;
    height: 24px;
    background-color: #FFFFFF;

    li {
      width: 32px;
    }

    .maninContentRightItemDom {
      width: 32px;
      height: 20px;

      border-bottom: 2px solid $red;
      transition: all .3s linear .1s;
    }

    .maninContentRightItemDom:hover {

      opacity: 1;
    }

    li::after {
      @include clearFloat;
    }

  }

  .maninContentRightItemBanner {
    .maninContentRightItemBannerBox {

      width: 290px;
      height: 37px;

      li {
        width: 280px;
        height: 37px;
        line-height: 37px;
        display: none;
        overflow: hidden;
        padding: 0 5px;
      }

      p {
        color: $red;
      }
    }
  }
}


.maninContentRightFn {
  $maninContentRightFnW: 290px;
  $maninContentRightFnH: 152px;
  $maninContentRightFnY: -45px;
  $maninContentRightFnSpan: 24px;
  width: $maninContentRightFnW;
  height: $maninContentRightFnH;

  ol {
    width: $maninContentRightFnW;
    height: $maninContentRightFnH / 2;
    display: flex;

    li {
      display: inline-block;
      width: $maninContentRightFnW / 4;
      height: $maninContentRightFnH / 2;
      box-sizing: border-box;

      border: 1px solid rgba(0, 0, 0, .3);

      span {
        display: inline-block;
        width: $maninContentRightFnSpan;
        height: $maninContentRightFnSpan;
      }

      p {
        text-align: center;
        display: inline-block;
        line-height: $maninContentRightFnSpan;
        width: $maninContentRightFnW /4;
        height: $maninContentRightFnSpan;
      }

    }
  }

  .maninContentRightFnBox1 {
    li {
      span {

      }

      &:first-child span {
        background: url("../media/images/TB1eiXTXlTH8KJjy0FiXXcRsXXa-24-595.png") 0 0
      }

      &:nth-child(2) span {
        background: url("../media/images/TB1eiXTXlTH8KJjy0FiXXcRsXXa-24-595.png") 0 $maninContentRightFnY
      }

      &:nth-child(3) span {
        background: url("../media/images/TB1eiXTXlTH8KJjy0FiXXcRsXXa-24-595.png") 0 $maninContentRightFnY * 2
      }

      &:nth-child(4) span {
        background: url("../media/images/TB1eiXTXlTH8KJjy0FiXXcRsXXa-24-595.png") 0 $maninContentRightFnY * 3
      }
    }
  }

  .maninContentRightFnBox2 {
    li {
      span {

      }

      &:first-child span {
        background: url("../media/images/TB1eiXTXlTH8KJjy0FiXXcRsXXa-24-595.png") 0 $maninContentRightFnY * 4 + 5px
      }

      &:nth-child(2) span {
        background: url("../media/images/TB1eiXTXlTH8KJjy0FiXXcRsXXa-24-595.png") 0 $maninContentRightFnY * 5 + 5px
      }

      &:nth-child(3) span {
        background: url("../media/images/TB1eiXTXlTH8KJjy0FiXXcRsXXa-24-595.png") 0 $maninContentRightFnY * 6 + 5px
      }

      &:last-child span {
        background: url("../media/images/TB1eiXTXlTH8KJjy0FiXXcRsXXa-24-595.png") 0 $maninContentRightFnY * 7 + 5px
      }
    }
  }
}
