.maninContentRightUserText {
  width: 290px;
  text-align: center;
}

.maninContentRightUserTextBox {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 290px;
  height: 16px;
  line-height: 16px;
}

.maninContentRightUserTextBoxT1,
.maninContentRightUserTextBoxT2 {
  float: left;
  border-radius: 12px;
  background-color: #ffe4db;
}
.maninContentRightUserTextBoxT1 p,
.maninContentRightUserTextBoxT2 p {
  width: 16px;
  height: 16px;
  display: inline-block;
  line-height: 16px;
}
.maninContentRightUserTextBoxT1 a,
.maninContentRightUserTextBoxT2 a {
  font-size: 13px;
  color: #FF5000;
  display: inline-block;
  padding: 0 5px;
  width: 84px;
  height: 16px;
  line-height: 16px;
}

.maninContentRightUserTextBoxT1 {
  margin-right: 10px;
}
.maninContentRightUserTextBoxT1 p {
  background: url("../media/images/TB1eiXTXlTH8KJjy0FiXXcRsXXa-24-595.png") 0 -528px;
}

.maninContentRightUserTextBoxT2 p {
  background: url("../media/images/TB1eiXTXlTH8KJjy0FiXXcRsXXa-24-595.png") 0 -572px;
}

.maninContentRightButton {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
  width: 290px;
  height: 40px;
}
.maninContentRightButton button {
  border-radius: 5px;
  color: #f4f4f4;
  outline: none;
  border: none;
  width: 92px;
  height: 25px;
  background-image: linear-gradient(to right, #ff5000 0, #ff6f06 100%);
}

.maninContentRightImg {
  width: 290px;
  height: 65px;
}
.maninContentRightImg img {
  width: 100%;
  height: 100%;
}

.maninContentRightItem {
  width: 290px;
  height: 77px;
}
.maninContentRightItem .maninContentRightItemBox {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-evenly;
  height: 24px;
  background-color: #FFFFFF;
}
.maninContentRightItem .maninContentRightItemBox li {
  width: 32px;
}
.maninContentRightItem .maninContentRightItemBox .maninContentRightItemDom {
  width: 32px;
  height: 20px;
  border-bottom: 2px solid #FF5000;
  transition: all 0.3s linear 0.1s;
}
.maninContentRightItem .maninContentRightItemBox .maninContentRightItemDom:hover {
  opacity: 1;
}
.maninContentRightItem .maninContentRightItemBox li::after {
  content: "";
  display: block;
  visibility: hidden;
  clear: both;
  height: 0;
}
.maninContentRightItem .maninContentRightItemBanner .maninContentRightItemBannerBox {
  width: 290px;
  height: 37px;
}
.maninContentRightItem .maninContentRightItemBanner .maninContentRightItemBannerBox li {
  width: 280px;
  height: 37px;
  line-height: 37px;
  display: none;
  overflow: hidden;
  padding: 0 5px;
}
.maninContentRightItem .maninContentRightItemBanner .maninContentRightItemBannerBox p {
  color: #FF5000;
}

.maninContentRightFn {
  width: 290px;
  height: 152px;
}
.maninContentRightFn ol {
  width: 290px;
  height: 76px;
  display: flex;
}
.maninContentRightFn ol li {
  display: inline-block;
  width: 72.5px;
  height: 76px;
  box-sizing: border-box;
  border: 1px solid rgba(0, 0, 0, 0.3);
}
.maninContentRightFn ol li span {
  display: inline-block;
  margin-left: 20px;
  margin-top: 20px;
  width: 24px;
  height: 24px;
}
.maninContentRightFn ol li p {
  text-align: center;
  display: inline-block;
  line-height: 24px;
  width: 72.5px;
  height: 24px;
}
.maninContentRightFn .maninContentRightFnBox1 li:first-child span {
  background: url("../media/images/TB1eiXTXlTH8KJjy0FiXXcRsXXa-24-595.png") 0 0;
}
.maninContentRightFn .maninContentRightFnBox1 li:nth-child(2) span {
  background: url("../media/images/TB1eiXTXlTH8KJjy0FiXXcRsXXa-24-595.png") 0 -45px;
}
.maninContentRightFn .maninContentRightFnBox1 li:nth-child(3) span {
  background: url("../media/images/TB1eiXTXlTH8KJjy0FiXXcRsXXa-24-595.png") 0 -90px;
}
.maninContentRightFn .maninContentRightFnBox1 li:nth-child(4) span {
  background: url("../media/images/TB1eiXTXlTH8KJjy0FiXXcRsXXa-24-595.png") 0 -135px;
}
.maninContentRightFn .maninContentRightFnBox2 li:first-child span {
  background: url("../media/images/TB1eiXTXlTH8KJjy0FiXXcRsXXa-24-595.png") 0 -175px;
}
.maninContentRightFn .maninContentRightFnBox2 li:nth-child(2) span {
  background: url("../media/images/TB1eiXTXlTH8KJjy0FiXXcRsXXa-24-595.png") 0 -220px;
}
.maninContentRightFn .maninContentRightFnBox2 li:nth-child(3) span {
  background: url("../media/images/TB1eiXTXlTH8KJjy0FiXXcRsXXa-24-595.png") 0 -265px;
}
.maninContentRightFn .maninContentRightFnBox2 li:last-child span {
  background: url("../media/images/TB1eiXTXlTH8KJjy0FiXXcRsXXa-24-595.png") 0 -310px;
}
.maninContentRightFn .maninContentRightFnBox3 .maninContentRightFnBox3-1L {
  float: left;
  height: 30px;
}
.maninContentRightFn .maninContentRightFnBox3 .maninContentRightFnBox3-1R {
  float: right;
  width: 40px;
  height: 30px;
}
.maninContentRightFn .maninContentRightFnBox3 .maninContentRightFnBox3-1R p, .maninContentRightFn .maninContentRightFnBox3 .maninContentRightFnBox3-1R span {
  display: inline-block;
}
.maninContentRightFn .maninContentRightFnBox3 ol li {
  float: left;
  width: 58px;
  height: 44px;
}
.maninContentRightFn .maninContentRightFnBox3 ol li a img {
  width: 32px;
  height: 32px;
}

/*# sourceMappingURL=style.css.map */
